.wrapper{
    width: 100vw;
    display: flex;
    flex-flow: column;   
    align-items: center; 
    align-items: center;
    color: black;

}


.wrapper > img{
    width: 300px;
}

.wrapper> h1{
    background-color: rgba(161, 161, 161, 0.304);
    padding: 10px 25px;
    border-radius: 25px; 
}

